
/*-----------------------------------------------------------------------全域---*/
html{/*background:url(/images/s-03.gif)*/ center 0 repeat-y #2BA3D4}
body{min-width:1165px;background:url(/images/s-01.jpg) center 0 no-repeat;font:300 15px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;color:#313131}}
a{font:300 15px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}

#wrapper{width:1165px;margin:0 auto;font:300 15px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;color:#313131}

/*-----------------------------------------------------------------------頁首---*/

#header{height:320px;position:relative;padding:25px 0 0 0}
#header .text{position:absolute}
#nav{background:url(/images/s-04.png) 0 6px no-repeat;height:32px;text-align:right;margin:0 75px;padding:0px 0 0 0}
#nav a{color:#fff;display:inline-block;margin:0 0 0 40px;font:300 18px 微軟正黑體,Microsoft JhengHei}
#nav a:hover{color:#FCEC00}
#nav img{position:relative;top:6px}	
#nav img:hover{top:4px}

/*-----------------------------------------------------------------------頁身---*/

#article{background:#fff}

/*-----------------------------------------------------------------------頁尾---*/

#footer{padding:0 115px 30px 115px;background:#fff;text-align:center;color:#505050}
#footer #line{border:none;border-top:1px solid #00B7EE;margin:0 0 30px 0;height:0px}
#footer a{color:#505050}
#footer a:hover{text-decoration:underline}
#footer img{margin:0 18px 0 0;position:relative;top:2px}
