<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Robots" content="index,follow"/>
	<meta name="ms.locale" content="zh-tw">
	<meta name="WT.sp" content="_taiwan_promo_eq_Get2Modern_" />
	<meta name="WT.z_locale" content="zh-tw"/ >

	<meta name="keywords" content="Windows XP終止支援,Office 2003終止支援,EOS,XP終止支援,XP EOS,中小企業優惠,Windows平板,Office 2013,Office 365,Windows 8.1,win 8.1,win 7, win 8"/>
	<title>老闆囧很大－職場微心結大調查，參加就抽無線劇院！</title>
	<meta name="description" content="老闆、員工悶氣別再憋了！快來填秘密問卷一吐為快，不但立即獲得實用解方，化解職場微心結，還可抽最大獎無線家庭劇院，更有優惠方案幫您輕鬆升級最新科技，就算 Windows XP / Office 2003 將於 2014/4/8 終止支援也不囧。"/>
	<meta property="og:site_name" content="老闆囧很大"/>
	<meta property="og:title" content="老闆囧很大－職場微心結大調查，參加就抽無線劇院！"/>
	<meta property="og:description" content="老闆、員工悶氣別再憋了！快來填秘密問卷一吐為快，不但立即獲得實用解方，化解職場微心結，還可抽最大獎無線家庭劇院，更有優惠方案幫您輕鬆升級最新科技，就算 Windows XP / Office 2003 將於 2014/4/8 終止支援也不囧。"/>
	<meta property="og:type" content="product"/>

	<meta name="DC.Rights" content="台灣微軟"/>
	<meta name="DC.Date" content="2014/02/18"/>
	<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
	<meta name="DC.Subject" content="老闆囧很大－職場微心結大調查"/>
	<meta name="DC.Type" content="產品"/>

	<meta property="og:image" content="http://www.microsoft.com/taiwan/promo/eq/Get2Modern/images/thumb.jpg">
	<link rel="image_src" href="http://www.microsoft.com/taiwan/promo/eq/Get2Modern/images/thumb.jpg">
	<link rel="image_src" href="/images/thumb.jpg">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/form.css">

	<%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag 'application' %>

	<script type="text/javascript" src="/js/iframeheight.js"></script>

	<style type="text/css">
    html, body { background: none; }
    </style>

</head>

<body>

	<article _height="auto">
		<section class="content" style=" padding: 180px 0 120px; background: white;">
			<div style="width: 930px; margin: 0 auto;">
				<hgroup>
					<h1 style="text-align: center; font-size: 36px; font-wieght: 600; padding: 24px; ">感謝您參與本次活動。</h1>
				</hgroup>
			</div>
		</section>
	</article>

	<script>
	//setTimeout(function() { window.location.href = '<%= new_ticket_path %>'; }, 2000);</script>

	<script type="text/javascript">
    $(document).ready(function () {
        $.iframeHeightExternal(); // if you change default settings, you must add your setting object to this function
    });
</script>

</body>
</html>
