<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="index,follow"/>
<title>這裡是標題</title>
<meta property="og:image" content="網址/images/thumb.jpg">
<link rel="image_src" href="/images/thumb.jpg">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/form.css">

<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'application' %>

<script src="/js/auto-full-height.min.js"></script>

</head>

<body>

<article _height="auto">
<section class="content" style=" padding: 180px 0 120px; background: white;">
	<div style="width: 930px; margin: 0 auto;">		
		<hgroup>		
			<h1 style="font-size: 36px; font-wieght: 600; padding: 24px; ">感謝您參與本次活動，我們將於 10 個工作日回覆您！</h1>
		</hgroup>
		<p style="padding-left: 36px;">
			即將為您引導至報名頁，請稍候或點擊 <a href="<%= new_ticket_path %>" style="color: orange; text-decoration: underline;">連結</a> 回報名頁
		</p>
	</div>
</section>
</article>

<script>
	//setTimeout(function() { window.location.href = '<%= new_ticket_path %>'; }, 2000);
</script>

</body>
</html>

